<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eus.mainu.mainu">

    <!-- Para tener permiso para acceder a internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Para comprobar si hay internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Para guardar en la tarjeta sd -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Para usar la camara -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_shadow"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_shadow"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".main.ActivityMain"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".elemento.ActivityElemento"
            android:parentActivityName=".main.ActivityMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".info.ActivityInfo"
            android:parentActivityName=".main.ActivityMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".inicio.ActivityInicio"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>